@use "../utils/variables" as *;
@use "../utils/breakpoints" as *;


@mixin theme($theme){
    @if $theme=="dark"{
        background-color: $bg-color-dark;
        color:$very-light-gray;
    }
    @else{
        background-color: $very-light-gray;
        h1{
            color:$very-light-gray
        }  
        #input-box{
            background-color: $very-light-gray;
            color:$dark-grayish-blue
        }
        .ring{
            border:2px solid $very-light-grayish-blue
        }
        .listed{
            background-color: $very-light-gray;
            color:$very-dark-grayish-blue;
            font-weight: 700;
            border-bottom: 1px solid $light-grayish-blue;
        }
        .todo-text{
            color:$bg-color-dark;
        }
        #check{
            border:2px solid $very-light-grayish-blue 
        }
        .todo__footer{
            background-color: $very-light-gray;
        }
        .todo__list2{
            background-color: $very-light-gray;
        }
        .checkbox__btn label{
            border:2px solid $very-light-grayish-blue
        }
        .checkbox__btn label:hover{
            border:2px solid $light-grayish-blue

        }
        .footer__mobile{
            background-color: $very-light-gray;
            p:hover{
                color:$very-dark-grayish-blue;
                opacity: 100%;
            }
        }
        
    }
}

@mixin  flexDisplay($direction) {
    display: flex;
    flex-direction: $direction;
};

@mixin greyOpacText{
    opacity: 70%;
    color:$dark-grayish-blue;
    font-weight: 300;
    cursor:pointer;
}