@use "../utils/breakpoints" as *;
@use "../utils/variables" as *;
@use "../utils/mixin" as *;

body {
  background-color: $bg-color-dark;
  .light {
    background-color: white;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  
  @include lg {
    grid-template-rows: 1fr;
  }
 
}

// Dark theme
.dark {
  @include theme("dark");
  .track-1 {
    background-image: url("../images/bg-mobile-dark.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    @include lg {
      background-image: url("../images/bg-desktop-dark.jpg");
      background-size: contain;
    }
  }
}

// light theme
.light {
  @include theme("light");
  .track-1 {
    background-image: url("../images/bg-mobile-light.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    @include lg {
      background-image: url("../images//bg-desktop-light.jpg");
      background-size: contain;
    }
  }
}
