@use "../utils/mixin" as *;
@use "../utils/variables" as *;
@use "../utils/breakpoints" as *;

.todo-item {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 3px solid $very-dark-grayish-blue;
  cursor: pointer;
  &.completed {
    text-decoration: line-through;
  }
  .todo-text {
    border-radius: 5px;
    font-weight: 700;
    border: none;
    margin-left: 2.8rem;
    font-size: 0.8rem;
    font-family: $text-font;
    flex: 1;
    position: relative;
  }
  .todo-text:focus{
    outline: none;
  }
  .remove-btn {
    cursor: pointer;
    align-items: end;
    margin-right: 18px;
    &:hover {
      background-color: #d32f2f;
    }
  }
  
}

#check {
  border: 2px solid $very-dark-grayish-blue;
  width: 23px;
  height: 23px;
  margin-left: 18px;
  border-radius: 50%;
  border: 2px solid $very-dark-grayish-blue;
  cursor: pointer;
  @include lg {
    width: 25px;
    height: 25px;
  }
}

.todo_list2 {
  justify-content: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom: none;
  .item2 {
    p {
      cursor: pointer;
    }
    p:hover {
      cursor: pointer;
      color: $link-blue;
    }
  }
}

.todo__footer {
  min-height: 58px;
  align-items: center;
  font-size: 0.8rem;
  font-family: $text-font;
  color: $light-grayish-blue;
}

.footer1 {
  @include flexDisplay(row);

  font-size: 13px;
  color: $dark-grayish-blue;
  gap: 10rem;
  height: 65px;
  margin-top: 3%;
  .middle__items {
    display: none;
  }

  @include lg {
    gap: 5.9rem;
    margin-left: 2.5%;
    .middle__items {
      @include flexDisplay(row);
      gap: 1rem;
      color: $dark-grayish-blue;
      font-size: 13px;
      font-weight: 700;
      p {
        cursor: pointer;
      }
      p:hover {
        color: black;
        font-weight: 700;
      }
    }
  }
}

.all {
  .tool-tip-all {
    visibility: hidden;
    position: absolute;
    background-color: black;
    font-size: 14px;
    padding: 0.3rem;
    margin-top: 1.2rem;
    color: ivory;
  }
}

.all:hover .tool-tip-all {
  visibility: visible;
  opacity: 50%;
}

.active {
  .tool-tip-active {
    visibility: hidden;
    position: absolute;
    background-color: black;
    font-size: 14px;
    padding: 0.3rem;
    margin-top: 1.2rem;
    color: ivory;
  }
}

.active:hover .tool-tip-active {
  visibility: visible;
  opacity: 50%;
}
.completed {
  .tool-tip-completed {
    visibility: hidden;
    position: absolute;
    background-color: black;
    font-size: 14px;
    padding: 0.3rem;
    margin-top: 1.2rem;
    color: ivory;
  }
}

.completed:hover .tool-tip-completed {
  visibility: visible;
  opacity: 50%;
}

.clear {
p:hover {
  color: red;
  font-weight: 700;
  cursor: pointer;
}
}

.footer__mobile {
  @include flexDisplay(row);
  font-size: 13px;
  color: $dark-grayish-blue;
  font-family: $text-font;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 30px;
  border-radius: 8px;
  background-color:$very-dark-desaturated-blue;
  p {
    opacity: 60%;
    cursor: pointer;
  }
  p:hover {
    color: white;
  }
}

@include lg {
  .footer__mobile {
    display: none;
  }
}

input[type="checkbox"] {
  visibility: hidden;
}

.checkbox__btn label {
  border-radius: 50%;
  border: 2px solid $very-dark-grayish-blue;
  cursor: pointer;
  width: 25px;
  height: 25px;
  left: 0;
  position: absolute;
  margin-left: 18px;
  top: 0;
  right: 0;
}

.checkbox__btn:hover label {
  border: 2px solid;
  border-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border-image-slice: 1;
}

.checkbox__btn label:after {
  border: 2px solid #494C6B;
  background: url("../../images/icon-check.svg");
  margin-top: 4px;
  margin-left: 3px;
  transform: scale(0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  border: none;
  border-top: none;
  border-right: none;
  content: "";
  height: 25px;
  width: 25px;
  opacity: 0;
  top: -2px;
  left: -1px;
  position: absolute;
}

.checkbox__btn input[type="checkbox"]:checked + label {
  background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border: none;
}

.checkbox__btn input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.checkbox__btn {
  position: relative;
  margin-right: 12px;
}

.checkbox__btn label {
  border-radius: 50%;
  border: 2px solid #494C6B;
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin-top: -4px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.checkbox__btn:hover label {
  border: 2px solid;
  border-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border-image-slice: 1;
}

.checkbox__btn label:after {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='9'%3E%3Cpath fill='none' stroke='%23FFF' stroke-width='2' d='M1 4.304L3.696 7l6-6'%3E%3C/path%3E%3C/svg%3E"); 
  content: "";
  opacity: 0;
  top: -2px;
  left: -1px;
  position: absolute;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.checkbox__btn input[type="checkbox"]:checked + label {
  background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border: none;
}

.checkbox__btn input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.iconEdit{
  cursor: pointer;
}

.todo-list-container {
  max-height: 350px; 
  overflow-y: auto;
}